.treeRoot {
  list-style-type: none;
  padding-inline-start: 0px;
  padding: 10px;
  position: relative;
}

.treeRoot ul {
  list-style-type: none;
  padding-inline-start: 0px;
  position: relative;
  padding-bottom: 5px;
}

.treeRoot > li:after {
  display: none;
}

.wrapper .draggingSource {
  opacity: 0.3;
}

.wrapper .placeholder {
  position: relative;
}

.wrapper > ul > li > .nodeWrapper > div.pipeY {
  display: none;
}
